.navbar-brand img {
    margin-left: 40px;
    height: 40px;
}

.navbar-nav {
    margin-right: 40px
}

.nav-link {
    color: white
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.233);
}

#navbarNav {
    margin-left: 50%
}

.nav-link:hover {
    background-image: linear-gradient(to right, rgb(213, 143, 3), rgba(213, 143, 3, 0.3));
    font-weight: bold
}

.navbar {
    background-color: black
}

.activa {
    @extend.nav-link;
    text-decoration: underline;
}

.activa:hover {
    @extend.nav-link;
    background-color: black;
    background-image: none
}