$estilosBoton:( color:#d58f03, padding:15px, ancho:20%, radioBorde:10px);
@mixin size ($alto, $ancho) {
    height: $alto;
    width: $ancho;
}

.seccionPrincipal {
    background-image: url("../imagenes/vlrt.webp");
    @include size(100%,
    800px);
    background-repeat: no-repeat;
    background-color: black
}

#videoHome {
    height: 500px
}

#imagenPrincipal {
    background-image: url("../imagenes/vlrt.webp");
    height: 800px;
    background-repeat: no-repeat;
    background-color: black;
}

.titulo {
    text-align: center;
    position: relative;
    top: 50%
}

#imagenPrincipal h1 {
    background-color: white;
    width: 50%;
    margin: auto
}

.titulo p {
    background-color: map-get($estilosBoton, color);
    padding: map-get($estilosBoton, padding);
    width: map-get($estilosBoton, ancho);
    margin: auto;
    border-radius: map-get($estilosBoton, radioBorde);
}

#imagenPrincipal a {
    color: white;
    text-decoration: none;
    font-family: bold
}

.seccionPrincipal a {
    color: white;
    text-decoration: none;
    font-family: bold;
}

#videoHome {
    height: 500px;
}

.seccionPrincipal {
    background-image: url("../imagenes/vlrt.webp");
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-color: black;
}

.seccionPrincipal h1 {
    background-color: white;
    width: 50%;
    margin: auto;
}